@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@300&family=Nunito+Sans:ital,wght@1,200&family=Pacifico&family=Varela+Round&family=Ysabeau:ital,wght@0,100;1,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,200&family=Pacifico&family=Varela+Round&family=Ysabeau:ital,wght@0,100;1,1&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* navbar  */
nav{
    background-color: rgb(65, 54, 73);
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
}
nav ul li{
    padding:0 20px;
    font-weight: 900;
    color: rgb(230, 221, 221);
    list-style-type: none;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
}

.gameContainer{
    position: relative;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw); 
    font-family: 'Varela Round', sans-serif;
}
.box{
    text-align: center;
    border: 1px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(223, 221, 221);
}

.gameInfo{
    margin-top: 30px;
    padding: 0 34px;
    font-family: 'Ysabeau', sans-serif;
    font-weight: bolder;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bt-0{
    border-top: 0;
}
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{

    font-size: 3vw;
    padding: 20px;
    border-radius: 19px;
    background-color: grey;
    color: white;
}

.line{
    background-color: blueviolet;
    width: 0vw;
    height: 3px;
    position: absolute;
    transition:width 1s ease-in-out ;
}